src/main/java/resources/FlexModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!--
    XSD Help (http://www.w3.org/TR/xmlschema-1/#cIdentity-constraint_Definitions):

            <xs:unique name="port" >
              <xs:selector xpath="wsdl:port" />
              <xs:field xpath="@name" />
            </xs:unique>

        <xs:key name="portType" >
          <xs:selector xpath="wsdl:portType" />
          <xs:field xpath="@name" />
        </xs:key>

    <unique
      id = ID
      name = NCName
      {any attributes with non-schema namespace . . .}>
      Content: (annotation?, (selector, field+))
    </unique>

    <key
      id = ID
      name = NCName
      {any attributes with non-schema namespace . . .}>
      Content: (annotation?, (selector, field+))
    </key>

    <keyref
      id = ID
      name = NCName
      refer = QName
      {any attributes with non-schema namespace . . .}>
      Content: (annotation?, (selector, field+))
    </keyref>

    <selector
      id = ID
      xpath = a subset of XPath expression, see below
      {any attributes with non-schema namespace . . .}>
      Content: (annotation?)
    </selector>

    <field
      id = ID
      xpath = a subset of XPath expression, see below
      {any attributes with non-schema namespace . . .}>
      Content: (annotation?)
    </field>


     -->
    <!--
        <xsd:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="http://www.w3.org/2001/XInclude"></xsd:import>
     -->

    <xsd:element name="FlexModel">
        <xsd:annotation>
            <xsd:documentation>
                Top-level element containing model elements such as
                EntityType.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="ModelElementGroup" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

        <!-- Specify all 'KEYS', both 'Primary' and 'Foreign' here. -->


        <!-- Keys for Element: PrimitiveType -->

        <xsd:key name="PrimitiveType_PK">
            <xsd:selector xpath="./PrimitiveType"/>
            <xsd:field xpath="codeName"/>
        </xsd:key>

        <!-- Keys for Element: RelationshipType -->

        <xsd:key name="RelationshipType_PK">
            <xsd:selector xpath="./RelationshipType"/>
            <xsd:field xpath="codeName"/>
        </xsd:key>


        <!-- Keys for Element: EntityType -->

        <xsd:key name="EntityType_PK">
            <xsd:selector xpath="./EntityType"/>
            <xsd:field xpath="codeName"/>
        </xsd:key>

        <!-- Keys for Element: Attribute -->

        <xsd:key name="Attribute_PK">
            <xsd:selector xpath="./Attribute"/>
            <xsd:field xpath="parentEntityTypeName"/>
            <xsd:field xpath="codeName"/>
        </xsd:key>

        <xsd:keyref name="Attribute_to_PrimitiveType_FK" refer="PrimitiveType_PK">
            <xsd:selector xpath="./Attribute"/>
            <xsd:field xpath="dataTypeName"/>
        </xsd:keyref>

        <xsd:keyref name="Attribute_to_EntityType_FK" refer="EntityType_PK">
            <xsd:selector xpath="./Attribute"/>
            <xsd:field xpath="parentEntityTypeName"/>
        </xsd:keyref>

        <xsd:keyref name="Attribute_to_ReferencedEntityType_FK" refer="EntityType_PK">
            <xsd:selector xpath="./Attribute"/>
            <xsd:field xpath="toEntityTypeName"/>
        </xsd:keyref>

        <!-- Keys for Element: TypeRelationship -->

        <xsd:key name="TypeRelationship_PK">
            <xsd:selector xpath="./TypeRelationship"/>
            <xsd:field xpath="fromEntityTypeName"/>
            <xsd:field xpath="codeName"/>
        </xsd:key>

        <xsd:keyref name="TypeRelationship_to_RelationshipType_FK" refer="RelationshipType_PK">
            <xsd:selector xpath="./TypeRelationship"/>
            <xsd:field xpath="relationshipTypeName"/>
        </xsd:keyref>

        <xsd:keyref name="TypeRelationship_to_FromEntityType_FK" refer="EntityType_PK">
            <xsd:selector xpath="./TypeRelationship"/>
            <xsd:field xpath="fromEntityTypeName"/>
        </xsd:keyref>

        <xsd:keyref name="TypeRelationship_to_ToEntityType_FK" refer="EntityType_PK">
            <xsd:selector xpath="./TypeRelationship"/>
            <xsd:field xpath="toEntityTypeName"/>
        </xsd:keyref>

    </xsd:element>

    <xsd:group name="ModelElementGroup">
        <xsd:choice>
            <xsd:element ref="RelationshipType"></xsd:element>
            <xsd:element ref="PrimitiveType"></xsd:element>
            <xsd:element ref="ProcessNodeType"></xsd:element>
            <xsd:element ref="EntityType"></xsd:element>
            <xsd:element ref="Attribute"></xsd:element>
            <xsd:element ref="TypeRelationship"></xsd:element>
            <xsd:element ref="Procedure"></xsd:element>
            <xsd:element ref="BusinessProcess"></xsd:element>
            <xsd:element ref="ProcessNode"></xsd:element>
            <xsd:element ref="NodeConstraint"></xsd:element>
        </xsd:choice>
    </xsd:group>

    <!-- **********************************************************************
        Start of semi-auto-generated XSD declarations.
    ************************************************************************ -->

    <!--
      Generated by Velocity template.
      RDB Table: BC_ATTRIBUTE
      XML Element name/Java class name: Attribute
    -->
    <xsd:element name="Attribute">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: Attribute
                Description: Maps to java class of the same name (Attribute) and
                RDB table BC_ATTRIBUTE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all minOccurs="0" maxOccurs="1">
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="length" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="parentEntityTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="parentEntityTypeName" type="xsd:string"/>
                <xsd:element name="dataTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="dataTypeName" type="xsd:string"/>
                <xsd:element name="toEntityTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="toEntityTypeName" type="xsd:string" minOccurs="0"/>
            </xsd:all>
        </xsd:complexType>

    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_BUSINESS_PROCESS
      XML Element name/Java class name: BusinessProcess
    -->
    <xsd:element name="BusinessProcess">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: BusinessProcess
                Description: Maps to java class of the same name (BusinessProcess) and
                RDB table BC_BUSINESS_PROCESS
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="processEntityTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="processEntityTypeName" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_CONSTRAINT_TYPE
      XML Element name/Java class name: ConstraintType
    -->
    <xsd:element name="ConstraintType">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: ConstraintType
                Description: Maps to java class of the same name (ConstraintType) and
                RDB table BC_CONSTRAINT_TYPE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_ENTITY_TYPE
      XML Element name/Java class name: EntityType
    -->
    <xsd:element name="EntityType">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: EntityType
                Description: Maps to java class of the same name (EntityType) and
                RDB table BC_ENTITY_TYPE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="serviceGroupOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="isEnumerated" type="xsd:long" minOccurs="0"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_NODE_CONSTRAINT
      XML Element name/Java class name: NodeConstraint
    -->
    <xsd:element name="NodeConstraint">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: NodeConstraint
                Description: Maps to java class of the same name (NodeConstraint) and
                RDB table BC_NODE_CONSTRAINT
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="fromNodeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="fromNodeName" type="xsd:string"/>
                <xsd:element name="constraintTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="constraintTypeName" type="xsd:string"/>
                <xsd:element name="toNodeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="toNodeName" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_PRIMITIVE_TYPE
      XML Element name/Java class name: PrimitiveType
    -->
    <xsd:element name="PrimitiveType">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: PrimitiveType
                Description: Maps to java class of the same name (PrimitiveType) and
                RDB table BC_PRIMITIVE_TYPE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_PROCEDURE
      XML Element name/Java class name: Procedure
    -->
    <xsd:element name="Procedure">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: Procedure
                Description: Maps to java class of the same name (Procedure) and
                RDB table BC_PROCEDURE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_PROCESS_NODE
      XML Element name/Java class name: ProcessNode
    -->
    <xsd:element name="ProcessNode">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: ProcessNode
                Description: Maps to java class of the same name (ProcessNode) and
                RDB table BC_PROCESS_NODE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="processOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="processName" type="xsd:string"/>
                <xsd:element name="subProcessOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="subProcessName" type="xsd:string" minOccurs="0"/>
                <xsd:element name="nodeTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="nodeTypeName" type="xsd:string"/>
                <xsd:element name="displayName" type="xsd:string"/>
                <xsd:element name="isStartNode" type="xsd:long"/>
                <xsd:element name="serviceGroupOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="serviceGroupName" type="xsd:string"/>
                <xsd:element name="defaultAssigneeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="defaultAssigneeName" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_PROCESS_NODE_TYPE
      XML Element name/Java class name: ProcessNodeType
    -->
    <xsd:element name="ProcessNodeType">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: ProcessNodeType
                Description: Maps to java class of the same name (ProcessNodeType) and
                RDB table BC_PROCESS_NODE_TYPE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_RELATIONSHIP_TYPE
      XML Element name/Java class name: RelationshipType
    -->
    <xsd:element name="RelationshipType">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: RelationshipType
                Description: Maps to java class of the same name (RelationshipType) and
                RDB table BC_RELATIONSHIP_TYPE
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>

    <!--
      Generated by Velocity template.
      RDB Table: BC_TYPE_RELATIONSHIP
      XML Element name/Java class name: TypeRelationship
    -->
    <xsd:element name="TypeRelationship">
        <xsd:annotation>
            <xsd:documentation>
                XML Element: TypeRelationship
                Description: Maps to java class of the same name (TypeRelationship) and
                RDB table BC_TYPE_RELATIONSHIP
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="oid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="codeName" type="xsd:string"/>
                <xsd:element name="description" type="xsd:string"/>
                <xsd:element name="fromEntityTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="fromEntityTypeName" type="xsd:string"/>
                <xsd:element name="toEntityTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="toEntityTypeName" type="xsd:string"/>
                <xsd:element name="relationshipTypeOid" type="xsd:long" minOccurs="0"/>
                <xsd:element name="relationshipTypeName" type="xsd:string"/>
                <xsd:element name="requiredFlag" type="xsd:long" minOccurs="0"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
